<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="top_ad">NON REMOVABLE ADs</div>
    </header>
    <div class="green">
        <div class="brown"></div>
        <div class="blue"></div>
    </div>
<center>
    <div class="wel">
        <center class="cent">WEB DEVELOPMENT EXPRESS</center>
    </div>
   </center>
    <div class="foot"></div>
    <footer>
     <div  class="circle"> 
     </div>
    </footer>
</body>
</html>